body {
  background-image: url('./assets/BgGradient.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo {
  width: 250px;
}

.header {
  width: 90vw;
  height: 150px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar {
  border: 1px solid #069494;
  border-radius: 80px;
  width: 90vw;
  height: 60px;
  font-family: 'Fascinate', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  color: #3a0884;
 -webkit-box-shadow: 0px 0px 30px 5px #4ADE80; 
box-shadow: 0px 0px 40px -18px #069494;
;

}

.nav-li {
  border: 1px solid #069494;
  width: 15em;
  height: 60px;
  text-align: center;
  padding: 10px;
  border-top: none;
  border-bottom: none;
  flex-grow: 1;
}

.no-left {
  border-left: none;
}

.no-right {
  border-right: none;
}


