body {
  background-image: url('./assets/BgGradient.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}


.logo {
  width: 250px;
}

.header {
  width: 100vw;
  height: 150px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.navbar {
  border: 1px solid #069494;
  border-radius: 80px;
  width: 95vw;
  height: 60px;
  font-family: 'Fascinate', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  color: #28065a;
 -webkit-box-shadow: 0px 0px 30px 5px #4ADE80; 
  box-shadow: 0px 0px 40px -18px #069494;
  margin: 0 45px;

}


.nav-li {
  border: 1px solid #069494;
  width: 15em;
  height: 60px;
  text-align: center;
  padding: 10px;
  border-top: none;
  border-bottom: none;
  flex-grow: 1;
}

.L {
  border: none;
}

.R {
  border: none;
}


.btn {
  font-size: 25px;
  color: #74c0fc;
  border: none;
  border-radius: 30px;
  padding: 10px;
  /* border: 1px solid #069494 */
 
}

.head-btns {
  width: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ads {
  border: none;
  border-radius: 30px;
  margin: 25px;
  width: 80em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff8253;
  padding: 30px;
  font-family: 'Lato';
}

.ads h2 {
  font-size: 50px;
}

.ads p {
  line-height: 1.5rem;
}

.ad-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  width: 40em;
}

.model {
  width: 570px;
  height: 470px;
  border-radius: 30px;
  padding: 20px;
  object-fit: cover;
  object-position: center top;
}

.model-one {
  width: 550px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  object-position: center top;
}

.model-two {
  width: 550px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  object-position: center top;
}

.ads-two {
  border-radius: 30px;
  background-color: #fce883;
  width: 40em;
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
} 

.ads-three {
  border-radius: 30px;
  background-color: #ff9ce9;
  width: 40em;
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 30px;
}

.content-two {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  width: 30em;
}

.footer-logo {
  width: 250px;
  height: 250px;
}

.footer {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.address, 
.socials {
  border: 1px solid red;
  width: 50%;
  height: 400px;
}


