body {
  background-image: url("./assets/BgGradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  width: 250px;
}

.header {
  width: 100vw;
  height: 150px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.navbar {
  width: 100vw;
  height: 60px;
  font-family: "Limelight", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #28065a;
  margin: 0 45px;
  font-size: 20px;
}

.nav-li a,
.nav-li a:hover,
.nav-li a:active,
.nav-li a:visited,
.nav-li a:focus .nav-li a * {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: transparent;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  color: inherit;
  color: #28065a;
}

.nav-li {
  width: 15em;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-top: none;
  border-bottom: none;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.74);
}

.btn {
  font-size: 25px;
  color: #74c0fc;
  border: none;
  border-radius: 30px;
  padding: 10px;
  /* border: 1px solid #069494 */
}

.head-btns {
  width: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 50px auto;
  gap: 20px;
}

.ads {
  border: none;
  border-radius: 30px;
  margin: 25px;
  width: 80em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff8253;
  padding: 30px;
  font-family: "Lato";
}

.ads h2 {
  font-size: 50px;
}

.ads p {
  line-height: 1.5rem;
}

.ad-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  width: 40em;
  flex-wrap: wrap;
}

.model {
  width: 570px;
  height: 470px;
  border-radius: 30px;
  padding: 20px;
  object-fit: cover;
  object-position: center top;
}

.model-one {
  width: 550px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  object-position: center top;
}

.model-two {
  width: 550px;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  object-position: center top;
}

.ads-two {
  border-radius: 30px;
  background-color: #fce883;
  width: 40em;
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ads-three {
  border-radius: 30px;
  background-color: #ff9ce9;
  width: 40em;
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 30px;
}

.content-two {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  width: 30em;
}

.footer-logo {
  width: 190px;
  height: 190px;
}

.footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.address,
.socials {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.socials-logo {
  width: 80px;
  height: 80px;
}
.address {
  font-size: 25px;
  line-height: 1.8em;
}
.socials p {
  font-weight: 400;
  font-size: 20px;
}

.socials {
  background-color: #c9fdf2;
}

.address {
  background-color: #ffc2ba;
}

.productImg {
  width: 200px;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
  margin: 15px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.product-card {
  border: 1px solid #f8e6ef;
  border-radius: 20px;
  padding: 15px;
  width: 400px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 2px #f1ade3;
  box-shadow: 0px 0px 15px 2px #f0c1e1;
}

.like-btn {
  background: pink;
  border: 1px solid #e283b1;
  border-radius: 30px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #ff2f94;
  margin-top: 10px;
}

.add-btn {
  background: pink;
  border: 1px solid #e283b1;
  border-radius: 30px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
  color: #ff2f94;
  text-transform: uppercase;
  margin: 10px;
}

.add-btn:hover,
.like-btn:hover {
  background-color: #ff2f94;
  color: white;
}

.aboutUs {
  width: 80vw;
  margin: 50px auto;
  padding: 30px;
  border-radius: 30px;
  font-size: 25px;
  background-color: #ffe680;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutUs h2 {
  font-size: 40px;
  font-family: "Limelight", cursive;
  margin-bottom: 20px;
}

.auth-pages {
  background-image: url(".assets/loginBg");
}

.login-container {
  width: 70em;
  height: 50em;
  display: flex;
  flex-direction: row;
}

.logIn-form {
  height: 50em;
  width: 30em;
  background-color: #f0c1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.log-info {
  background-image: url("./assets/logImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50em;
  width: 40em;
  display: flex;
  justify-content: center;
}

.login {
  width: 23em;
  height: 20em;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  overflow: hidden;
  margin: 30px 0;
}

.input {
  border: none;
  border-bottom: 2px solid #831e75;
  outline: none;
  padding: 8px 4px;
  font-size: 16px;
  background: transparent;
  margin: 10px;
  width: 15em;
  transition: border-bottom-color 0.3s ease;
  margin: 10px 0px;
}

.input::placeholder {
  color: #a39f9f;
}

.input:focus {
  border-bottom-color: #e670a9;
}

.logIn-form h2 {
  margin-bottom: 10px;
  color: #28065a;
  text-shadow: #f1ade3 2px 2px 4px;
  font-family: "Lobster", cursive;
  font-size: 36px;
  text-align: center;
}

.log-submit {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #ff2f94;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.log-submit:hover {
  background-color: #e02685;
}

.reg-container {
  width: 70em;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.reg-container h2 {
  margin-bottom: 10px;
  color: #28065a;
  font-family: "Lobster", cursive;
  font-size: 36px;
  text-align: center;
  text-shadow: #f1ade3 2px 2px 4px;
}

.register {
  border: 1px solid #ffff;
  border-radius: 30px;
  height: 30em;
  width: 30em;
  background-color: #f0c1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 2px #f0c1e1;
}

.reg-input {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  background: ffff;
  margin: 10px;
  width: 20em;
}

.reg-submit {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #ff2f94;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error {
  color: red;
  margin-top: 10px;
  margin: 5px;
}

.success {
  color: green;
  margin-top: 10px;
  margin: 5px;
}